@using System.Text.Json
@model SaxxPv.Web.ViewModels.Home.MonthViewModel

<div id="productionChart" style="height:600px;"></div>
<script>
    const options = {
        "grid": {
            "left": 30,
            "top": 30,
            "right": 30,
            "bottom": 20
        },
        "xAxis": {
            "type": "category",
            "data": @Html.Raw(JsonSerializer.Serialize(Model.Days.Select(x => x.DateTime.ToString("dd.MM."))))
        },
        "yAxis": [{
            "name": "kW/h",
            "type": "value"
        }],
        "series": [{
            "data": @Html.Raw(JsonSerializer.Serialize(Model.Days.Select(x => Math.Round(x.Sold, 1,  MidpointRounding.AwayFromZero)))),
            "type": "bar",
            "showSymbol": false,
            "lineStyle": {
                "width": 0
            },
            "color": "#7bc043"
        }, {
            "data": @Html.Raw(JsonSerializer.Serialize(Model.Days.Select(x => -Math.Round(x.Consumption, 1,  MidpointRounding.AwayFromZero)))),
            "type": "bar",
            "showSymbol": false,
            "lineStyle": {
                "width": 0
            },
            "color": "#ee4035"
        }]
    }
    echarts.init(document.getElementById('productionChart')).setOption(options);
</script>
